html,body
{
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    background-color: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    height:450px;
    width:50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.container div
{
    height: 90%;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    color:hsl(235, 18%, 26%);
    justify-content: start;
}
.container div p
{
    font-size: 12px;

}
.container div ul
{
    margin:0;
    padding: 0;
    margin-top: 10px;
    width: 100%;
}
.container div li
{
    list-style-type: none;
    text-align: start;
    height: 30px;
    font-size: 13px;
}
.container form
{
    height:120px;
    width:100%;
    margin-top: 20px;
}
.container form input
{
    height:30px;
    width:80%;
    border: 1px solid hsl(235, 18%, 26%);
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}
.container form input[type="email"]:invalid {
    background-color: hsl(4, 100%, 67%);
    opacity: 0.5;
    display: block;
}
.container form button
{
    height:40px;
    width:84%;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: hsl(235, 18%, 26%);
    color:white;
    cursor: pointer;
    transition: 0.5s;
}
.container form button:hover
{
    color:hsl(235, 18%, 26%);
    background-color: white;
}
.container form button:active
{
    opacity: 0.5;
}
.success
{
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.success button
{
    height: 35px;
    width:auto;
    background-color: hsl(235, 18%, 26%);
    color:white;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
}
.success button:hover
{
    background-color: hsl(4, 100%, 67%);
    box-shadow: 1px 1px 10px hsl(4, 100%, 67%);
}
.success button:active
{
    opacity: 0.5;
}